@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed|Neuton|Bitter|Noto+Serif|Open+Sans+Condensed:400,700,400italic|Droid+Serif:400,700,400italic|Ubuntu+Mono:400,700,400italic);
body {
font-family: 'Roboto Condensed';
}

.warning {
display: none;

}

.warning h2 {
font-family: 'Open Sans Condensed';
font-weight: normal;
}

.lt9 .warning {
display: block;
text-align: center;
top: 100px;
}

.reveal h1, .reveal h2, .reveal h3 {
font-family: 'Open Sans Condensed';
font-weight: normal;

}

.reveal li {
padding-bottom: 5px;
padding-top: 5px;
}

.logo {
/*background: transparent url('images/logo.png') no-repeat 0 0 scroll;*/
width: 286px;
height: 75px;
position: fixed;
bottom: 27px;
right: 115px;
z-index: 100;
}

.logo a img {
border: none;
outline: none;
}

.reveal .slide-number{
right: auto;
left: 15px;
font-size: 25px;
}

/* .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; } */

/* div.remark-slide-content{
background-image: url('images/simpleltc-bg.png');
background-repeat: no;
background-color: #A7D6F9;
font-size: 22px;
}*/
/*
div.remark-slide-content ul li, div.remark-slide-content ol li{

}
*/
